/*#app{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#app #form{
    align-self: start;
}*/

#app canvas{
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}