#app-modal canvas{
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    object-fit: contain;
    z-index: 1000;
}

.modal-close{
    z-index: 1001;
}